<div class="col-md-12 mb-4">
<div class="card">
    <div class="card-header">
             <div>User details</div>
      </div>
<div class="card-body">
    <div class="animated fadeIn">
  <table *ngIf="adminuser" class="table table-bordered table-striped" datatable [dtOptions]="dtOptions" >
  <thead>
  <tr>
    <th class=" text-center w-auto "><i class="fa fa-hashtag"></i></th>
    <th class=" text-center w-25 ">
      <i class="icon-people"></i> Users
    </th>
    <th class="text-center w-auto ">Email-Id</th>
    <th class="text-center w-auto">Rights</th>

   
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of adminuser; let i=index">
      <th scope="row" class="text-center">
          {{i+1}}
      </th>
    
  
      <td class="text-center">
        <div class="avatar">
          <img alt="{{user.name}}'s profile pic" class="img-avatar" referrerPolicy="no-referrer" src="{{user.picture!=null ? user.picture : 'assets/img/avatars/generic avtar.png'}}">
        </div>
        {{user.name}}
    </td>
    <td class="text-center">
      {{user.emailId}}
  </td>

    <td class="text-center">
    
     <!-- <div class="custom-control custom-switch">
     
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">
          Admin Access
      </label>
    </div> 
  
    <div class="custom-control custom-switch">
      <label class="custom-control-label" for="customSwitch2">
          Classroom Creation
      </label>
      <input type="checkbox" class="custom-control-input" id="customSwitch2">
    </div>  -->
 <!-- <div>
    Access:
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    </div>
<hr/>
<div>
    ClassroomCreations:
    <label class="switch">
      <input type="checkbox" checked>
      <span class="slider round"></span>
    </label>
    </div>  -->
<div class="text-left">
    
    <div class="form-check form-check-inline mr-3">
      <div for="type">Admin Access:</div> &nbsp;&nbsp;
      <label class="switch switch-3d switch-primary">
        <input type="checkbox" class="switch-input form-check-input" id="type"
               [checked]="user.isAdmin" (change)="toggleAdminAccess(user)">
        <span class="switch-slider"></span>
      </label>
    </div>
    </div>

    <div class="text-left">
      <div class="form-check form-check-inline mr-3">
        <div for="type">Classroom Creations:</div> 
        <label class="switch switch-3d switch-primary">
          <input type="checkbox" class="switch-input form-check-input" id="type"
                 [checked]="user.allowedClassroomCreation" (change)="toggleClassroomCreation(user)">
          <span class="switch-slider"></span>
        </label>
      </div>
    </div>
   
      </td>

  </tr>
  </tbody>
</table>
</div>
</div>
</div>
</div>

