<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <span>Question : </span>
            <span class="font-weight-bold">{{currentQuestion.title}}</span> 
        </div>
        <div markdown [data]="currentQuestion.description" class="card-body"></div>
    </div>
    <div class="card">
        <div class="card-header" fxLayout fxLayoutGap="8px">
            <!--        <div >-->
            <div fxFlex="20">
                <select class="form-control" [(ngModel)]="currentTheme" tooltip="Select Theme">
                    <option *ngFor="let theme of THEMES" value="{{theme.value}}">{{theme.name}}</option>
                </select>
            </div>
            <div fxFlex="20">
                <select class="form-control" [(ngModel)]="currentLanguage" tooltip="Select Language">
                    <option *ngFor="let lang of LANGUAGES" value="{{lang.value}}">{{lang.name}}</option>
                </select>
            </div>
            <div fxFlex fxLayoutGap="10px">
                <button class="btn btn-outline-dark" tooltip="Retrieve last submitted code"><i
                        class="fa fa-file-code-o"></i></button>
                <button class="btn btn-outline-dark " tooltip="Reset to default code definition"><i
                        class="fa fa-refresh"></i></button>
            </div>

            <!--        </div>-->
        </div>
        <div class="card-body" style="padding:0">
            <ace-editor [(text)]="text" [theme]="currentTheme" [mode]="currentLanguage" #editor
                        id="editor"></ace-editor>
        </div>
        <div class="card-footer" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout>
                <!--                <div fxFlex="70" *ngIf="true; let hide">-->
                <div fxFlex="15" fxLayoutAlign="stretch start">
                    <button class="btn btn-pill btn-outline-primary" tooltip="Input"
                            (click)="hideInput = !hideInput">Input <i
                            class="fa fa-chevron-circle-{{hideInput?'down':'up'}}"></i></button>
                </div>
                <div fxFlex="25" fxLayoutAlign="stretch start">
                    <button class="btn btn-pill btn-outline-primary" tooltip="Input"
                            (click)="hideOutput = !hideOutput">Run Code Result <i
                            class="fa fa-chevron-circle-{{hideOutput?'down':'up'}}"></i></button>
                </div>
                <div fxFlex></div>

                <!--                    <div class="form-group">-->
                <!--                        <label class="col-form-label" ><i class="fa fa-sign-out"></i>&nbsp; <strong>STDOUT</strong></label>-->
                <!--                        <div class="">-->
                <!--                        <textarea name="textarea-input" rows="5" class="form-control"-->
                <!--                                  placeholder="Your output will appear here..."></textarea>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
                <div fxFlex="15" fxLayoutAlign="stretch start">
                    <button class="btn btn-pill btn-outline-primary" tooltip="Run Code"><i
                            class="fa fa-play-circle"></i> Run Code
                    </button>
                </div>
                <div fxFlex="15" fxLayoutAlign="stretch start">
                    <button class="btn btn-pill btn-primary" tooltip="Submit Code"><i class="fa fa-cloud-upload"></i>
                        Submit
                    </button>
                </div>
            </div>
            <div fxLayout *ngIf="!hideInput">
                <div fxFlex class="form-group">
                    <label class=" col-form-label"><i class="fa fa-sign-in"></i>&nbsp;
                        <strong>STDIN</strong></label>
                    <div>
                        <textarea name="textarea-input" rows=4 class="form-control"
                                  placeholder="Enter Your Input Here..."></textarea>
                    </div>
                </div>
            </div>
            <div fxLayout *ngIf="!hideOutput" class="mt-3">
                <div fxFlex class="form-horizontal">
                    <div class="form-group row pl-5 pr-5">
                        <div class="alert alert-success col" fxLayoutAlign="center center"><strong>Accepted</strong>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
                            <strong>INPUT</strong></label>
                        <div class="col-md-9">
                            <textarea name="textarea-input" class="form-control"
                                      placeholder="Your output will appear here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
                            <strong>OUTPUT</strong></label>
                        <div class="col-md-9">
                            <textarea name="textarea-input" class="form-control"
                                      placeholder="Your output will appear here..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
                            <strong>EXPECTED OUTPUT</strong></label>
                        <div class="col-md-9">
                            <textarea name="textarea-input" class="form-control"
                                      placeholder="Your output will appear here..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="card">
    <div class="card-header assessment-result passed" fxLayout>
        <div fxFlex="70" >
          <i class="icon icon-badge"></i>
          Assessment Passed!
        </div>
        <div fxFlex="30">
          <i class="fa fa-hashtag"></i>
          Score: 60/100
        </div>
    </div>
    <div class="card-header assessment-result failed" fxLayout>
        <div fxFlex="70" >
    <i class="icon icon-badge"></i>
          Assessment Failed!
        </div>
        <div fxFlex="30">
          <i class="fa fa-hashtag"></i>
          Score: 60/100
        </div>
    </div>
    <div class="card-header testcase-result" fxLayout>
      <div fxFlex="70" >
        Total Test Cases: 10
      </div>
      <div fxFlex="30" fxLayoutGap="10px">
        <div class="badge badge-success badge-pill p-2 pl-3 pr-3"> <i class="fa fa-check"></i> Passed: 6</div>
        <div class="badge badge-danger badge-pill p-2 pl-3 pr-3"><i class="fa fa-close"></i> Failed: 4</div>
      </div>
    </div>
    <div class="card-body" fxLayout="row wrap">
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 1</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 2</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 3</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 4</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 5</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 6</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 7</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 8</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 9</div>
      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 10</div>
    </div>
  </div>
</div>
