<div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Classroom List
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col" class=" text-center w-auto  "><i class="fa fa-hashtag"></i></th> 
              <th scope="col" class=" text-center w-auto " >Classroom Name</th>
              <th scope="col" class=" text-center w-auto " >Owner Name</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </div>
  </div>