.git/*
angular.json
e2e/*
package.json
tsconfig.json
CHANGELOG.md
ISSUE_TEMPLATE.md
package-lock.json
tslint.json
CONTRIBUTING.md
karma.conf.js
protractor.conf.js
LICENSE
README.md
node_modules/*
src/*


