<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <span>Question : </span>
        <span class="font-weight-bold">{{currentQuestion.title}}</span>
      </div>
      <div markdown [data]="currentQuestion.description" class="card-body"></div>
    </div>
    <div class="card">
      <div class="card-header" fxLayout fxLayoutGap="8px">
        <!--        <div >-->
        <div fxFlex="20">
          <select class="form-control" [(ngModel)]="currentTheme" tooltip="Select Theme">
            <option *ngFor="let theme of THEMES" value="{{theme.value}}">{{theme.name}}</option>
          </select>
        </div>
        <div fxFlex="20">
          <select class="form-control" [(ngModel)]="currentLanguage" tooltip="Select Language">
            <option *ngFor="let lang of allowedLanguages" value="{{lang.value}}">{{lang.name}}</option>
          </select>
        </div>
        <div fxFlex fxLayoutGap="10px">
          <button class="btn btn-outline-dark" tooltip="Retrieve last submitted code"><i
            class="fa fa-file-code-o"></i></button>
          <button class="btn btn-outline-dark " tooltip="Reset to default code definition"><i
            class="fa fa-refresh"></i></button>
        </div>
  
        <!--        </div>-->
      </div>
      <div class="card-body" style="padding:0">
        <ace-editor [(text)]="sourceCode" [theme]="currentTheme" [mode]="langMap[currentLanguage]" #editor
                    id="editor"></ace-editor>
      </div>
      <div class="card-footer" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout>
          <!--                <div fxFlex="70" *ngIf="true; let hide">-->
          <div fxFlex="15" fxLayoutAlign="stretch start">
            <button class="btn btn-pill btn-outline-primary" tooltip="Input"
                    (click)="hideInput = !hideInput">Input <i
              class="fa fa-chevron-circle-{{hideInput?'down':'up'}}"></i></button>
          </div>
          <div fxFlex="25" fxLayoutAlign="stretch start">
            <button class="btn btn-pill btn-outline-primary" tooltip="Run Code Result" [disabled]="!allowViewResult"
                    (click)="hideOutput = !hideOutput">Run Code Result <i
              class="fa fa-chevron-circle-{{hideOutput?'down':'up'}}"></i></button>
          </div>
          <div fxFlex></div>
  
          <!--                    <div class="form-group">-->
          <!--                        <label class="col-form-label" ><i class="fa fa-sign-out"></i>&nbsp; <strong>STDOUT</strong></label>-->
          <!--                        <div class="">-->
          <!--                        <textarea name="textarea-input" rows="5" class="form-control"-->
          <!--                                  placeholder="Your output will appear here..."></textarea>-->
          <!--                        </div>-->
          <!--                    </div>-->
          <!--                </div>-->
          <div fxFlex="15" fxLayoutAlign="stretch start">
            <button class="btn btn-pill btn-outline-primary" tooltip="Run Code" (click)="runCode()"
                    [disabled]="runCodeProcess"><i
              class="fa fa-{{runCodeProcess?'circle-o-notch fa-spin':'play-circle'}}"></i> Run Code
            </button>
          </div>
          <div fxFlex="15" fxLayoutAlign="stretch start">
            <button class="btn btn-pill btn-primary" tooltip="Submit Code" (click)="submitCode()"
                    [disabled]="submitProcess"><i
              class="fa fa-{{submitProcess?'circle-o-notch fa-spin':'cloud-upload'}}"></i>
              Submit
            </button>
          </div>
        </div>
        <div fxLayout *ngIf="!hideInput">
          <div fxFlex class="form-group">
            <label class=" col-form-label"><i class="fa fa-sign-in"></i>&nbsp;
              <strong>STDIN</strong></label>
            <div>
                          <textarea name="textarea-input" rows=4 class="form-control"
                                    placeholder="Enter Your Input Here..." [(ngModel)]="input"></textarea>
            </div>
          </div>
        </div>
        <div fxLayout *ngIf="!hideOutput" class="mt-3">
          <div fxFlex class="form-horizontal">
            <div class="form-group row pl-5 pr-5">
              <div class="alert alert-{{runRodeResponse.status == 'ACCEPTED'||runRodeResponse.status == 'SUCCEED' ? 'success': 'danger'}} col"
                   fxLayoutAlign="center center">
                <strong>{{removeUnderScore(runRodeResponse.status) | titlecase }}</strong>
              </div>
            </div>
            <div class="form-group row" *ngIf="runRodeResponse.status != 'COMPILE_ERROR'">
              <label class="col-form-label col-md-3"><i class="fa fa-sign-in"></i>&nbsp;
                <strong>INPUT</strong></label>
              <div class="col-md-9">
                              <textarea name="textarea-input" class="form-control"
                                        placeholder="Your output will appear here..." readonly
                                        [ngModel]="runRodeResponse.input"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
                <strong>{{runRodeResponse.status != 'COMPILE_ERROR' ? 'OUTPUT' : 'ERROR'}}</strong></label>
              <div class="col-md-9">
                              <textarea name="textarea-input"
                                        class="form-control alert alert-{{runRodeResponse.status == 'ACCEPTED' || runRodeResponse.status == 'SUCCEED'?'success':'danger'}}"
                                        placeholder="Your output will appear here..." readonly
                                        [ngModel]="runRodeResponse.output?runRodeResponse.output:runRodeResponse.message"></textarea>
              </div>
            </div>
            <div class="form-group row"
                 *ngIf="currentQuestion.showExpectedOutput && runRodeResponse.status != 'COMPILE_ERROR'">
              <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
                <strong>EXPECTED OUTPUT</strong></label>
              <div class="col-md-9">
                              <textarea
                                name="textarea-input"
                                row="2"
                                class=" form-control"
                                placeholder="Your output will appear here..."
                                readonly
                                [ngModel]="runRodeResponse.expectedOutput"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" *ngIf="showAssessmentResults">
      <div class="card-header assessment-result {{submitCodeResponse.status == 'PASSED'?'passed':'failed'}}" fxLayout>
        <div fxFlex="70">
          <i class="icon icon-badge"></i>
          Assessment {{submitCodeResponse.status == 'PASSED' ? 'Passed!' : 'Failed!'}}
        </div>
        <div fxFlex="30">
          <i class="fa fa-hashtag"></i>
          Score: {{submitCodeResponse.score?submitCodeResponse.score:0 |number}}/{{currentQuestion.totalPoints}}
        </div>
      </div>
      <div class="card-body" *ngIf="submitCompileError">
        <div class="form-group row">
          <label class="col-form-label col-md-3"><i class="fa fa-sign-out"></i>&nbsp;
            <strong>COMPILE ERROR</strong></label>
          <div class="col-md-9">
                              <textarea
                                name="textarea-input"
                                row="2"
                                class=" form-control alert alert-danger"
                                placeholder="Your output will appear here..."
                                readonly
                                [ngModel]="submitCodeResponse.message"></textarea>
          </div>
      </div>
      </div>
      <div class="card-header testcase-result" fxLayout *ngIf="!submitCompileError">
        <div fxFlex="70">
          Total Test Cases: {{submitCodeResponse.testResults?submitCodeResponse.testResults.length:''}}
        </div>
        <div fxFlex="30" fxLayoutGap="10px">
          <div class="badge badge-success badge-pill p-2 pl-3 pr-3"><i class="fa fa-check"></i> Passed: {{totalPassed}}
          </div>
          <div class="badge badge-danger badge-pill p-2 pl-3 pr-3"><i class="fa fa-close"></i> Failed: {{totalFailed}}
          </div>
        </div>
      </div>
      <div class="card-body" fxLayout="row wrap" *ngIf="!submitCompileError">
        <div *ngFor="let testCase of submitCodeResponse.testResults" class="testcase" fxFlex="33">
          <div [tooltip]="removeUnderScore(testCase.reason) | titlecase" fxFlex="nogrow"><i
            class="fa fa-{{testCase.status == 'PASSED' ? 'check' : 'close'}} mr-2"></i> Test Case {{testCase.id}}</div>
        </div>
      </div>
    </div>
  </div>
  
  