<div class="app-body" >
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card p-4 card-signin">
            <div class="card-body">
              <h5 class="card-title text-center">Autonomous Assessment System </h5>
              <div class="w-auto" fxLayoutAlign="center center"><img src="assets/logo/logo-big.png" class="logo" /></div>
              <form class="form-signin w-auto" >
                <hr class="my-4">
                <button class="btn btn-lg btn-google btn-block text-uppercase" type="button" (click)="login()"><i class="fa fa-google mr-2"></i> Sign in with Google</button>
<!--                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
