
<div class="animated fadeIn">
    <div class="row">
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-lightbulb-o bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{submissions.assignmentScore}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Total Points</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-trophy  bg-success p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-success mb-0 pt-3">{{submissions.currentScore}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Achieved Points</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-hashtag bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{submissions.questionEntities.length}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Questions</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i
              class="fa fa-{{statusIconMap[submissions.submissionStatus]}} bg-{{statusBadge[submissions.submissionStatus]}} p-4 font-2xl mr-3 float-left"></i>
            <div
              class="h6 text-{{statusBadge[submissions.submissionStatus]}} mb-1 pt-3">{{removeUnderScore(submissions.submissionStatus) | uppercase}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>
          </div>
        </div>
      </div>
  <!--    <ng-template [ngIf]="submissions.submissionStatus==='COMPLETED'">-->
  <!--      <div class="col-6 col-md-3">-->
  <!--        <div class="card">-->
  <!--          <div class="card-body p-0 clearfix">-->
  <!--            <i class="fa fa-check-circle bg-success p-4 font-2xl mr-3 float-left"></i>-->
  <!--            <div class="h6 text-success mb-1 pt-3">-->
  <!--              Completed-->
  <!--            </div>-->
  <!--            <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--    <ng-template [ngIf]="submissions.submissionStatus==='IN_PROGRESS'">-->
  <!--      <div class="col-6 col-md-3">-->
  <!--        <div class="card">-->
  <!--          <div class="card-body p-0 clearfix">-->
  <!--            <i class="fa fa-hourglass-half bg-info p-4 font-2xl mr-3 float-left"></i>-->
  <!--            <div class="h6 text-info mb-1 pt-3">-->
  <!--              In Progress-->
  <!--            </div>-->
  <!--            <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
  <!--    <ng-template [ngIf]="submissions.submissionStatus==='LATE_SUBMITTED'">-->
  <!--      <div class="col-6 col-md-3">-->
  <!--        <div class="card">-->
  <!--          <div class="card-body p-0 clearfix">-->
  <!--            <i class="fa fa-clock-o bg-danger p-4 font-2xl mr-3 float-left"></i>-->
  <!--            <div class="h6 text-danger mb-1 pt-3">-->
  <!--              Completed-->
  <!--            </div>-->
  <!--            <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </ng-template>-->
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <!--            <div class="card">-->
        <!--                <div class="card-header">-->
        <!--                    <div class="d-flex flex-row">-->
        <!--                        <div class="d-flex p-1"  > <h3> <strong>Assignment:{{'name of assignment'}}</strong></h3></div>-->
        <!--                        <div class="ml-auto p-1" >-->
        <!--                            &lt;!&ndash;                            <button aria-pressed="true" class="btn btn-block btn-success " type="button"> <i class="fa fa-plus"></i> Create</button>&ndash;&gt;-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="card-body">-->
        <!--                    <h4>Name : Name of User</h4>-->
        <!--                    <h5>Points &nbsp;&nbsp;: 10/10</h5>-->
        <!--                    <h5>Assignment Type:<i class="fa fa-clock-o" ></i>Timed</h5>-->
        <!--                </div>-->
        <!--            </div>-->
        <div class="card">
          <div class="card-header">
            Submission Of {{submissions.email}}
          </div>
          <div class="card-body">
            <table class="table table-bordered table-striped">
              <thead>
              <tr>
                <th scope="col" class=" text-center w-auto "><i class="fa fa-hashtag"></i></th>
                <th scope="col" class=" text-center w-100 ">Question Title</th>
                <th scope="col" class="text-center w-auto ">Submission On</th>
                <!--                            <th scope="col" class="text-center w-auto ">Question Status</th>-->
                <th scope="col" class="text-center w-auto ">Result</th>
                <th scope="col" class="text-center w-auto ">Score</th>
                <th scope="col" class="text-center w-auto ">View</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let response of submissions.questionEntities; let i=index">
                <th scope="row" class="text-center">
                  <div class="small text-value">
                    {{i + 1}}
                  </div>
                </th>
                <td>
                  <div> {{response.title}} </div>
                </td>
                <td class="text-center">
                  {{response.time | date:'medium'}}
                  <!--                            {{response.time|date:'short'}}-->
                </td>
                <!--                          <td class="text-center" >-->
                <!--                            <ng-template [ngIf]="response.questionStatus==='IN_PROGRESS'" ] >-->
                <!--                                                          <span [class.badge]="true"-->
                <!--                                                                [class.badge-primary]="true"-->
                <!--                                                                [hidden]="false">-->
                <!--                                                              In Progress-->
                <!--                                                          </span>-->
                <!--                            </ng-template>-->
                <!--                            <ng-template [ngIf]="response.questionStatus==='COMPLETED'" ] >-->
                <!--                                                          <span [class.badge]="true"-->
                <!--                                                                [class.badge-success]="true"-->
                <!--                                                                [hidden]="false">-->
                <!--                                                              Completed-->
                <!--                                                          </span>-->
                <!--                            </ng-template>-->
                <!--                          </td>-->
                <td class="text-center">
                  <ng-template [ngIf]="response.resultStatus==='FAILED'" ]>
                                                            <span [class.badge]="true"
                                                                  [class.badge-danger]="true"
                                                                  [hidden]="false">
                                                                FAILED
                                                            </span>
                  </ng-template>
                  <ng-template [ngIf]="response.resultStatus==='PASSED'" ]>
                                                            <span [class.badge]="true"
                                                                  [class.badge-success]="true"
                                                                  [hidden]="false">
                                                                PASSED
                                                            </span>
                  </ng-template>
                </td>
                <td class="text-center">{{response.score}}/{{response.totalPoints}}</td>
                <td class="text-center">
                  <button aria-pressed="true" class="btn btn-pill btn-sm btn-primary"
                          (click)="viewBuild(assignmentId,response.questionId,submissions.email,response.buildId)"
                          type="button">View
                  </button>
                </td>
              </tr>
              <tr *ngIf="submissions.questionEntities.length==0">
                <td scope="row" colspan="6" class="text-center"> No Content</td>
              </tr>
              <!--                        <tr>-->
  
              <!--                          <th scope="row" colspan="1"></th>-->
              <!--                          <td></td>-->
              <!--                            <td></td>-->
              <!--                          <td></td>-->
              <!--                          <td class="font-weight-bold"> Total Score</td>-->
              <!--                          <td>{{submissions.currentScore}}/{{submissions.assignmentScore}}</td>-->
  
              <!--                        </tr>-->
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary btn-pill pull-left" (click)="backButton()"><i class="fa fa-back"></i> Back </button>

         </div>     
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
  
