<div class="animated fadeIn">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-lightbulb-o bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3">100</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Points</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-clock-o bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">120 mins</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Duration</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-hashtag bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">2</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Questions</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-hourglass-2 bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="h6 text-info mb-1 pt-3">In Progress</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
        <div class="col-md-12">
<!--            <div class="card">-->
<!--                <div class="card-header">-->
<!--                    <div class="d-flex flex-row">-->
<!--                        <div class="d-flex p-1"  > <h3> <strong>Assignment:{{'name of assignment'}}</strong></h3></div>-->
<!--                        <div class="ml-auto p-1" >-->
<!--                            &lt;!&ndash;                            <button aria-pressed="true" class="btn btn-block btn-success " type="button"> <i class="fa fa-plus"></i> Create</button>&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <h4>Name : Name of User</h4>-->
<!--                    <h5>Points &nbsp;&nbsp;: 10/10</h5>-->
<!--                    <h5>Assignment Type:<i class="fa fa-clock-o" ></i>Timed</h5>-->
<!--                </div>-->
<!--            </div>-->
            <div class="card">
                <div class="card-header">
                    John wick
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th  scope="col" class=" text-center w-auto "><i class="fa fa-hashtag"></i></th>
                            <th  scope="col"  class=" text-center w-100 " >Question Title </th>
                            <th scope="col" class="text-center w-auto ">Submission On</th>
                            <th scope="col" class="text-center w-auto ">Status</th>
                            <th scope="col" class="text-center w-auto ">Points</th>
                            <th scope="col" class="text-center w-auto " >View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th  scope="row" class="text-center">
                                <div class="small text-value">
                                1
                                </div>
                            </th>
                            <td>
                                <div> Question 1 </div>
                            </td>
                          <td class="text-center">23/08/2020</td>
                          <td class="text-center" >
                                     <span [class.badge]="true"
                                           [class.badge-success]="true"
                                           [hidden]="false">
                                            On Time
                                      </span>
                                      <span [class.badge]="true"
                                  [class.badge-danger]="true"
                                  [hidden]="true">
                                    Late
                                </span>
                          </td>
                            <td class="text-center" >10/10</td>
                            <td class="text-center" >
                                <button aria-pressed="true" class="btn btn-pill btn-sm btn-primary" type="button">View</button>
                            </td>
                        </tr>
                        <tr>

                          <th scope="row" colspan="1"></th>
                          <td></td>
                            <td></td>
                          <td class="font-weight-bold"> Total Score</td>
                          <td>50/100</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div><!--/.col-->
    </div><!--/.row-->
</div>
