<!--<div #editor id="editor" > </div>-->
<div class="animated fadeIn">
  <form [formGroup]="questionForm" (ngSubmit)="submitAddQuestionForm()">
    <div class="card">
      <div class="card-header">
        {{isUpdateMode ? 'Edit':'Add'}}
        Question for <strong>{{ assignment.title }}</strong>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="title"
            >Question Title</label
          >
          <div class="col-md-10">
            <input
              type="text"
              id="title"
              name="title"
              class="form-control"
              placeholder="Enter Question Title.."
              formControlName="title"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="languages"
            >Allowed Languages</label
          >
          <div class="col-md-10">
            <ng-select
              class="mt-2"
              id="languages"
              [items]="LANGUAGES"
              bindLabel="name"
              bindValue="name"
              [multiple]="true"
              placeholder="Select Allowed Languages"
              clearAllText="Clear"
              formControlName="allowedLanguages"
            >
            </ng-select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label" for="points"
            >Total Points</label
          >
          <div class="col-md-10">
            <input
              class="form-control"
              type="number"
              id="points"
              placeholder="Enter Total Points.."
              formControlName="totalPoints"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 col-form-label">Show Expected Output</label>
          <div class="col-md-2 col-form-label">
            <div class="form-check form-check-inline mr-1">
              <label class="switch switch-3d switch-primary">
                <input
                  type="checkbox"
                  class="switch-input form-check-input"
                  formControlName="showExpectedOutput"
                />
                <span class="switch-slider"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Description</div>
      <div class="card-body p-0">
        <div fxLayoutGap="20px">
          <div fxFlex="50">
            <ace-editor
              [(text)]="text"
              (textChanged)="updateDescription($event)"
              [theme]="'github'"
              [mode]="'markdown'"
              #markdownEditor
              class="editor"
            ></ace-editor>
          </div>
          <div
            fxFlex="50"
            markdown
            [data]="questionForm.value.description"
            class="pl-2 pr-2"
          ></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div fxFlex="30">Solution Code</div>
        <div fxFlex="20">
          <select
            class="form-control"
            formControlName="solutionLanguage"
            tooltip="Select Language"
          >
            <option *ngFor="let lang of LANGUAGES" value="{{ lang.value }}">
              {{ lang.name }}
            </option>
          </select>
        </div>
      </div>
      <div class="card-body p-0">
        <ace-editor
          [theme]="'monokai'"
          [(text)]="solutionCode"
          (textChanged)="updateSolutionCode($event)"
          [mode]="langModes[questionForm.value.solutionLanguage]"
          class="editor"
        ></ace-editor>
      </div>
      <div class="card-footer">

        <div class="form-group" *ngIf="showCompileError">
          <label class="col-form-label text-danger"
          ><i class="fa fa-sign-out"></i>&nbsp;
            <strong >COMPILE ERROR</strong></label>
          <div>
              <textarea
                name="textarea-input"
                rows="5"
                class="form-control border-danger text-danger"
                placeholder="Enter Your Input Here..."
                [ngModel]="compileErrorMessage"
                [ngModelOptions]="{standalone:true}"
                readonly
              ></textarea>
          </div>
        </div>
        <button
          class="btn btn-primary btn-pill pull-right mr-2"
          type="button"
          (click)="generateOutputsForTests()"
          [disabled]="processing"
        >
          <i *ngIf="processing" class="fa fa-circle-o-notch fa-spin"></i>
          {{processing?'Processing':'Generate Output For Input Tests'}}
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-header">Test Cases</div>
      <div class="card-body">
        <div
          formArrayName="testCases"
          *ngFor="
            let testCase of testCases.controls;
            let i = index
          "
        >
        <div [formGroupName]="i" fxFlex="90">
          <input type="hidden" formControlName="id" [ngModel]="i+1+''"/>
          <div class="form-group">
            <label class="col-form-label"
              ><i class="fa fa-sign-in"></i>&nbsp;
              <strong>Test Input</strong></label>
            <div>
              <textarea
                name="textarea-input"
                rows="2"
                class="form-control"
                placeholder="Enter Your Input Here..."
                formControlName="input"
              ></textarea>
            </div>
            <div *ngIf="editModeShowOutput">
              <label class="col-form-label"
              ><i class="fa fa-sign-out"></i>&nbsp;
                <strong>Test Output</strong></label>
              <div>
              <textarea
                name="textarea-input"
                rows="2"
                class="form-control"
                placeholder="Your Output will appear here..."
                formControlName="output"
                readonly
              ></textarea>
              </div>
            </div>
            <label class="col-form-label" *ngIf="showTestOutputs" [ngClass]="{'text-danger':testOutputs[i+1+''].status != 'SUCCEED'}"
              ><i class="fa fa-sign-out"></i>&nbsp;
              <strong>Test Output</strong></label>
            <div>
              <textarea
                *ngIf="showTestOutputs"
                name="textarea-input"
                rows="3"
                class="form-control"
                [ngClass]="{'text-danger':testOutputs[i+1+''].status != 'SUCCEED'}"
                placeholder="Your Output will appear here..."
                formControlName="output"
                readonly
                [ngModel]="testOutputs[i+1+''].output"
              ></textarea>
            </div>
          </div>
        </div>
        <div fxFlex fxLayoutAlign="center center">
            <button type="button" class="btn btn-danger btn-pill btn-sm" (click)="removeTestCase(i)"><i class="fa fa-close"></i></button>
        </div>
        </div>
        <div>
          <button class="btn btn-primary btn-pill" type="button" (click)="addTestCase()">
            <i class="fa fa-plus"></i> Add Test
          </button>
        </div>
      </div>
    </div>
    <div class="pb-5">
      <button
        class="btn btn-secondary btn-pill pull-left"
        type="button"
        (click)="goBack()"
      >
        <i class="fa fa-close"></i> Cancel
      </button>

<!--      <button *ngIf="isUpdateMode" class="btn btn-secondary btn-pill pull-left" type="button" (click)="location.back()"><i class="fa fa-close"></i> Cancel</button>-->
      <button type="submit" class="btn btn-primary btn-pill pull-right"><i class="fa fa-{{isUpdateMode ? 'pencil':'plus'}}"></i> {{isUpdateMode ? 'Edit':'Add'}} Question
      </button>
    </div>
    {{questionForm.value | json}}
  </form>
</div>
