.editor{
    min-height: 350px;
    width:100%;
}
.no-padding .panel-body.card-block.card-body {
    padding: 0;
}
blockquote {
    border-left: 3px solid rgba(0,0,0,0.21);
    padding-left: 12px;
    color: rgba(0,0,0,0.54);
}
.type{
    display:block;
    padding:2px 10px;
    font-size: 13px;
    color:white;
    border-radius: 20px;
    background-color: #20a8d8;
}

