<div class="animated fadeIn">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-lightbulb-o bg-success p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 pt-3">100</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Points</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-clock-o bg-danger p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 pt-3">120 mins</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Duration</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-hashtag bg-primary p-4 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 pt-3">2</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Questions</div>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-0 clearfix">
          <i class="fa fa-hourglass-2 bg-info p-4 font-2xl mr-3 float-left"></i>
          <div class="h6 text-info mb-1 pt-3">In Progress</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Status</div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">Questions</div>

    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th scope="col" class="w-auto"><i class="fa fa-hashtag"></i></th>
          <th scope="col" class="w-75">Question</th>
          <th scope="col" class="w-auto">Status</th>
          <th scope="col" class="w-auto">Score</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a routerLink="/submissions"> Write to program to find nth Fibonacci Number</a></td>
          <td><span class="badge badge-success">Completed</span></td>
          <td>50/50</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Write to program for Bubble Sort</td>
          <td><span class="badge badge-secondary">Not Completed</span></td>
          <td>0/50</td>
        </tr>
        <tr>
          <th scope="row" colspan="1"></th>
          <td></td>
          <td class="font-weight-bold"> Total Score</td>
          <td>50/100</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
