<!--<div #editor id="editor" > </div>-->
<div class="animated fadeIn">

    <div class="row">
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-lightbulb-o bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{question.totalPoints}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Total Points</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-trophy  bg-success p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-success mb-0 pt-3">{{question.score}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Achieved Points</div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="card-body p-0 clearfix">
            <i class="fa fa-code bg-primary p-4 font-2xl mr-3 float-left"></i>
            <div class="h5 text-primary mb-0 pt-3">{{build.language | titlecase}}</div>
            <div class="text-muted text-uppercase font-weight-bold font-xs">Language</div>
          </div>
        </div>
      </div>
      <ng-template [ngIf]="question.resultStatus==='PASSED'">
        <div class="col-6 col-md-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-check-circle bg-success p-4 font-2xl mr-3 float-left"></i>
              <div class="h6 text-success mb-1 pt-3">
                PASSED
              </div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Result</div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="question.resultStatus==='FAILED'">
        <div class="col-6 col-md-3">
          <div class="card">
            <div class="card-body p-0 clearfix">
              <i class="fa fa-close bg-danger p-4 font-2xl mr-3 float-left"></i>
              <div class="h6 text-danger mb-1 pt-3">
                FAILED
              </div>
              <div class="text-muted text-uppercase font-weight-bold font-xs">Result</div>
            </div>
          </div>
        </div>
      </ng-template>
  
    </div>
    <div class="card">
      <div class="card-header">
        <div class="d-flex flex-row">
          <div class="d-flex p-1"  > Question: {{question.title}}</div>
          <div class="ml-auto p-1" >
            Name: {{email}}
  <!--          Name : {{submissions.email}}-->
            <!--                            <button aria-pressed="true" class="btn btn-block btn-success " type="button"> <i class="fa fa-plus"></i> Create</button>-->
          </div>
        </div>
      </div>
      <!--    <div class="card-body">-->
      <!--      <p>Name : Name of User</p>-->
      <!--    </div>-->
    </div>
  
      <div class="card">
          <div class="card-header">
              <div fxFlex="30">Solution Code</div>
              <div fxFlex="20">
              </div>
          </div>
          <div class="card-body p-0">
              <ace-editor [theme]="'monokai'" [(text)]="build.sourceCode" [mode]="build.language"  class="editor"></ace-editor>
          </div>
      </div>
    <div class="card">
      <div class="card-header assessment-result {{question.resultStatus == 'PASSED'?'passed':'failed'}}" fxLayout>
        <div fxFlex="70">
          <i class="icon icon-badge"></i>
          Assessment {{question.resultStatus == 'PASSED' ? 'Passed!' : 'Failed!'}}
        </div>
        <div fxFlex="30">
          <i class="fa fa-hashtag"></i>
          Score: {{question.score |number}}/{{question.totalPoints}}
        </div>
      </div>
  
  
      <div class="card-header testcase-result" fxLayout>
        <div fxFlex="70" >
          Total Test Cases: {{question.testResults.length}}
        </div>
        <div fxFlex="30" fxLayoutGap="10px">
          <div class="badge badge-success badge-pill p-2 pl-3 pr-3"> <i class="fa fa-check"></i> Passed: {{totalPassed}}</div>
          <div class="badge badge-danger badge-pill p-2 pl-3 pr-3"><i class="fa fa-close"></i> Failed: {{totalFailed}}</div>
        </div>
      </div>
      <div class="card-body" fxLayout="row wrap">
        <div *ngFor="let testCase of question.testResults" class="testcase" fxFlex="33">
          <div [tooltip]="removeUnderScore(testCase.reason) | titlecase" fxFlex="nogrow"><i
            class="fa fa-{{testCase.status == 'PASSED' ? 'check' : 'close'}} mr-2"></i> Test Case {{testCase.id}}</div>
        </div>
      </div>
  <!--    <div class="card-body" fxLayout="row wrap">-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 1</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 2</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 3</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 4</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 5</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 6</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 7</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 8</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-check mr-2"></i>Test Case 9</div>-->
  <!--      <div class="testcase" fxFlex="33"><i class="fa fa-close mr-2"></i>Test Case 10</div>-->
  <!--    </div>-->
    </div>
      <div class="card-footer">
        <button type="button"  class="btn btn-primary btn-pill pull-left" (click)="backButton()"><i class="fa fa-back"></i> Back </button>
      </div>
  </div>
  
  
  