<div class="card" *ngIf="userClassroomsDetails.instructClassrooms.length==0 && userClassroomsDetails.enrolledClassrooms.length==0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
      <div id="notfound">
        <div class="notfound">
          <div>
            <div></div>
          </div>
          <h1>oops!</h1>
          <h2>Classrooms Not Available!</h2>
          <!-- <a href="#">Create Classroom</a> -->
          
        </div>
      </div>
      </div>
      </div>
      </div>
</div>
<!-- <section> -->
  <div class="card" *ngIf="userClassroomsDetails.instructClassrooms.length>=1 ||  userClassroomsDetails.enrolledClassrooms.length>=1">
    <!-- <div class="card-header"> 
      your Classrooms
      <div class="card-header-actions mr-md-5" fxLayoutGap="20px" fxLayoutAlign="center center">
        <button class=" btn btn-primary btn-sm btn-pill pull-right" (click)="addClassroom()">
          <i class="fa fa-plus mr-1"></i>
          Add Classroom &nbsp;
        </button>
      </div>
     
    </div> -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-4" fxLayout="row wrap" fxLayoutGap="25px" *ngFor="let classroom of userClassroomsDetails.instructClassrooms">
          <div class="card profile-card-2">
            
                  <div class="card-img-block">
                      <img class="img-fluid"  src="assets/img/avatars/9.jpg" alt="Card image cap">
                      
                  </div>
                  
                  <div class="card-body pt-5">
                      <img src="{{classroom.ownerPicture}}" alt="profile-image" class="profile"/>
                      <h5 class="card-title">{{ classroom.classroomTitle}}</h5>
                      <p class="card-text">{{ classroom.ownerName}}</p>
                      <button type="button" class="btn btn-primary" (click)="openClassroom(classroom.classroomSlug)"
                    [disabled]="startAssignmentProcess">
              Open
            </button>
                  </div>

                  
              </div>
              
      </div>
            
                <div class="col-md-4" fxLayout="row wrap" fxLayoutGap="25px" *ngFor="let classroom of userClassroomsDetails.enrolledClassrooms">
                  <div class="card profile-card-2">
                          <div class="card-img-block">
                              <img class="img-fluid"  src="assets/img/avatars/9.jpg" alt="Card image cap">
                          </div>
                          <div class="card-body pt-5">
                              <img src="{{classroom.ownerPicture}}" alt="profile-image" class="profile"/>
                              <h5 class="card-title">{{ classroom.classroomTitle}}</h5>
                              <p class="card-text">{{ classroom.ownerName}}</p>
                              <button type="button" class="btn btn-primary" (click)="openClassroom(classroom.classroomSlug)"
                              [disabled]="startAssignmentProcess">
                        Open
                      </button>
                          </div>
                          
                      </div>
                      
              </div>
                      </div>

    </div>
  </div>
  <div class="container">
   




      </div>
      <!-- </section> -->