<div class="card" *ngIf="userClassroomsDetails.instructClassrooms.length==0 && userClassroomsDetails.enrolledClassrooms.length==0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
      <div id="notfound">
        <div class="notfound">
          <div>
            <div></div>
          </div>
          <h1>oops!</h1>
          <h2>Classrooms Not Available!</h2>
          <!-- <a href="#">Create Classroom</a> -->
          
        </div>
      </div>
      </div>
      </div>
      </div>
</div>
<!-- <section> -->
  <div class="card" *ngIf="userClassroomsDetails.instructClassrooms.length>=1 ||  userClassroomsDetails.enrolledClassrooms.length>=1">
    
    <div class="card-body">
      <div class="row">

        <div class="col-md-4" fxLayout="row wrap" fxLayoutGap="25px" *ngFor="let classroom of userClassroomsDetails.instructClassrooms">
      
          <div class="card profile-card-2">
                  <div class="card-img-block">      
                      <img class="img-fluid"  src="assets/img/avatars/9.jpg" alt="Card image cap">
                      <div class="dropdown-container" tabindex="-1">
                        <div class="three-dots"></div>
                        <div class="dropdown">
                          <a href="#"><div>Remove</div></a>
                          <a href="#"><div>Edit</div></a>
                        </div>
                      </div>
                  </div>

                  
                  
                  <div class="card-body pt-5">
                    
                    <img src="{{classroom.ownerPicture}}" alt="profile-image" class="profile"/>
                      <h5 class="card-title">{{ classroom.classroomTitle}}</h5>
                      <p class="card-text">{{ classroom.ownerName}}</p>
                      <button type="button" class="btn btn-primary" (click)="openClassroom(classroom.classroomSlug)"
                    [disabled]="startAssignmentProcess">
              Open
            </button>
           
            
                  </div>
                 
                 
                  
              </div>
              
      </div>
            
                <div class="col-md-4" fxLayout="row wrap" fxLayoutGap="25px" *ngFor="let classroom of userClassroomsDetails.enrolledClassrooms">
                  <div class="card profile-card-2">
                          <div class="card-img-block">
                              <img class="img-fluid"  src="assets/img/avatars/9.jpg" alt="Card image cap">
                              <div class="dropdown-container" tabindex="-1">
                                <div class="three-dots"></div>
                                <div class="dropdown">
                                  <a href="#"><div>Remove</div></a>
                                  <a href="#"><div>Edit</div></a>
                                </div>
                              </div>
                          </div>
                          <div class="card-body pt-5">
                              <img src="{{classroom.ownerPicture}}" alt="profile-image" class="profile"/>
                              <h5 class="card-title">{{ classroom.classroomTitle}}</h5>
                              <p class="card-text">{{ classroom.ownerName}}</p>
                              <button type="button" class="btn btn-primary" (click)="openClassroom(classroom.classroomSlug)"
                              [disabled]="startAssignmentProcess">
                        Open
                      </button>
                          </div>   
                      </div>
                      
              </div>
                      </div>

    </div>
  </div>
  <div class="container">
   




      </div>
      <!-- </section> -->

      <script>
        var el = document.querySelector('.more');
var btn = el.querySelector('.more-btn');
var menu = el.querySelector('.more-menu');
var visible = false;

function showMenu(e) {
    e.preventDefault();
    if (!visible) {
        visible = true;
        el.classList.add('show-more-menu');
        menu.setAttribute('aria-hidden', false);
        document.addEventListener('mousedown', hideMenu, false);
    }
}

function hideMenu(e) {
    if (btn.contains(e.target)) {
        return;
    }
    if (visible) {
        visible = false;
        el.classList.remove('show-more-menu');
        menu.setAttribute('aria-hidden', true);
        document.removeEventListener('mousedown', hideMenu);
    }
}

btn.addEventListener('click', showMenu, false);
      </script>
