    <div class="card">
        <div class="card-header">
                 <div>Assignment details</div>
          </div>
    <div class="card-body">
        <div class="animated fadeIn">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th class=" text-center w-auto "><i class="fa fa-hashtag"></i></th>
        <th class=" text-center w-25 ">Students</th>
        <th class="text-center w-auto ">Status</th>
        <th class=" text-center w-auto ">Marks Assigned</th>
        <th class=" text-center w-auto ">View Submitted Code</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <th scope="row" class="text-center">
           
        </th>
        <td>
         
        </td>
        <td class="text-center">
            <div class="m-1" fxFlex>
                <!-- <span
                  class="badge badge-{{statusBadge[assignment.currentStatus]}}">{{removeUnderScore(assignment.currentStatus) | titlecase}}</span> -->
              </div>
        </td>
        <td class="text-center">
         
         
        </td>
        <td class="text-center">
            <button class=" btn btn-primary btn-sm btn-pill">
                <i class="fa fa-file-code-o" aria-hidden="true"></i>
                Click here!
              </button>
        </td>
        
       
      </tr>
      <tr>
        <td scope="row" colspan="7" class="text-center">
            
        </td>
      </tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>

    

