<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">Assignment Details
          <div class="card-header-actions mr-md-5" fxLayoutGap="20px" fxLayoutAlign="center center">
            <div for="type">Toggle Status: </div>
            <div class="form-check form-check-inline mr-3">
              <label class="switch switch-3d switch-primary mb-0">
                <input type="checkbox" class="switch-input form-check-input" id="type" [checked] = "assignment.status == 'ACTIVE'" (change)="toggleStatus()">
                <span class="switch-slider"></span>
              </label>
            </div>
            <!-- <span class="badge badge-success">{{assignment.status}}</span> -->
              <button class=" btn btn-danger btn-sm btn-pill" (click)="deleteAssignment()">
                <i class="fa fa-close"></i>
                Delete
              </button>
              <button class=" btn btn-warning btn-sm btn-pill" (click)="editAssignment()">
                &nbsp;
                <i class="fa fa-pencil"></i>
                  Edit &nbsp;
              </button>
          </div>
        </div>
        <div class="card-body pl-5 pr-5">
            <table class="table table-sm table-bordered ">
                <tbody id="details">
                    <tr>
                        <th>Assignment Title : </th>
                        <td>{{assignment.title}}</td>
                    </tr>
                    <tr>
                        <th>Status : </th>
                        <td><span
                            class="badge badge-{{assignment.status == 'ACTIVE'?'success':'danger'}}">{{assignment.status}}</span></td>
                    </tr>
                    <tr>
                        <th>Assignment Type : </th>
                        <td><span *ngIf="assignment.timed; else anytime" class="badge badge-primary">
                            <i class="fa fa-clock-o"></i>
                            TIMED
                          </span>
                          <ng-template #anytime>
                            <span class="badge badge-primary">
                            ANYTIME
                          </span>
                          </ng-template>
                          </td>
                    </tr>
                    <tr>
                        <th>Duration : </th>
                        <td>{{assignment.duration?assignment.duration + ' mins.': 'No Time Limit'}} </td>
                    </tr>
                    <tr>
                        <th>Start Time : </th>
                        <td><span *ngIf="assignment.hasStartTime; else noStartTime">{{assignment.startTime|date:'short'}}</span>
                            <ng-template #noStartTime>
                              <span>No Start time</span>
                            </ng-template></td>
                    </tr>
                    <tr>
                        <th>Deadline : </th>
                        <td><span *ngIf="assignment.hasDeadline; else noDeadline">{{assignment.deadline|date:'short'}}</span>
                            <ng-template #noDeadline>
                              <span>No Deadline</span>
                            </ng-template></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="card">
      <div class="card-header">Questions</div>
  
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col" class="w-auto"><i class="fa fa-hashtag"></i></th>
            <th scope="col" class="w-50">Question</th>
            <th scope="col" class="w-auto">Allowed Languages</th>
            <th scope="col" class="w-auto"> Points</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let question of assignment.questions; let i = index;">
            <th scope="row">{{i+1}}</th>
            <td><a routerLink="./{{question.slug}}"> {{question.title}}</a></td>
            <td fxLayoutGap="10px">
              <span *ngFor="let lang of question.allowedLanguages" class="badge badge-primary">{{lang}}</span>
            </td>
            <td>{{question.totalPoints}}</td>
          </tr>
          <tr *ngIf="!assignment.questions">
            <td scope="row" colspan="4" class="text-center"> No Questions</td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Write to program for Bubble Sort</td>
            <td><span class="badge badge-secondary">Not Completed</span></td>
            <td>0/50</td>
          </tr> -->
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button type="button" routerLink="./add-question" class="btn btn-primary btn-pill"><i class="fa fa-plus"></i> Add Question
        </button>
      </div>
    </div>
  </div>
  